html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #006400, #FFFFFF);
    background-repeat: no-repeat;
    background-size:100%;
}

h2{
	color: #FFFFFF;
}

#login{
    color: #006400;
    font-size: 32px;
}

header#form-chamada-aluno h2 {
    color: #000000;
}

label{
	color: #000000;
	font-size: 18px;
}
.form-control:focus{
	border-color: #006400;
}

.footer{
    padding: 15px;
}