html {
    height: 100%;
}
body {
	padding-top: 20px;
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, #006400, #FFFFFF);
    background-repeat: no-repeat;
    background-size:100%;
}

h2{
	color: #FFFFFF;
}

label{
	color: #006400;
	font-size: 18px;
}
.form-control:focus{
	border-color: #006400;
}
